In [2]:
import pandas as pd

In [3]:
raw_dataset = pd.read_csv('raw-dataset.csv', sep=None)
expert_dataset = pd.read_csv('expert-dataset.csv', sep=None)
cleaned_dataset = pd.read_csv('cleaned-dataset.csv', sep=None)

/tmp/ipykernel_48949/3452582107.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  raw_dataset = pd.read_csv('raw-dataset.csv', sep=None)
/tmp/ipykernel_48949/3452582107.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  expert_dataset = pd.read_csv('expert-dataset.csv', sep=None)
/tmp/ipykernel_48949/3452582107.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  cleaned_dataset = pd.read_csv('cleaned-dataset.csv', sep=None)

In [4]:
import os
print(os.getcwd())

/home/mjoudy/Documents/codes/galaxy_project/deep_see/deep-species-detection/data/dataset_seanoe_101899

In [5]:
raw_dataset.shape

(235323, 11)

In [6]:
expert_dataset.shape

(15277, 1)

In [7]:
cleaned_dataset.shape

(14967, 1)

In [9]:
raw_dataset.info

<bound method DataFrame.info of         Unnamed: 0                             name_img             name_sp  \
0                0             MOMAR_20140727180039.jpg    Bythograeid crab
1                1             MOMAR_20140727180039.jpg    Bythograeid crab
2                2             MOMAR_20140727180039.jpg          Other fish
3                3             MOMAR_20140727180039.jpg    Bythograeid crab
4                4             MOMAR_20140727180039.jpg    Bythograeid crab
...            ...                                  ...                 ...
235318      235318  CAM-TEMPO-MINI-2_20141010220540.jpg  Tubeworms coverage
235319      235319  CAM-TEMPO-MINI-2_20141010220540.jpg  Tubeworms coverage
235320      235320             MOMAR_20140828175856.jpg    Mussels coverage
235321      235321             MOMAR_20140828175856.jpg    Mussels coverage
235322      235322             MOMAR_20140828175856.jpg    Mussels coverage

            x1     y1      x2     y2  length  middle_x  middle_y  \
0        815.0  839.0   826.0  792.0    48.0     821.0     816.0
1        817.0  837.0   817.0  800.0    37.0     817.0     819.0
2       1329.0  153.0  1262.0  234.0   105.0    1296.0     194.0
3        826.0  790.0   812.0  842.0    54.0     819.0     816.0
4        814.0  829.0   825.0  794.0    37.0     820.0     812.0
...        ...    ...     ...    ...     ...       ...       ...
235318     NaN    NaN     NaN    NaN     NaN       NaN       NaN
235319     NaN    NaN     NaN    NaN     NaN       NaN       NaN
235320     NaN    NaN     NaN    NaN     NaN       NaN       NaN
235321     NaN    NaN     NaN    NaN     NaN       NaN       NaN
235322     NaN    NaN     NaN    NaN     NaN       NaN       NaN

                                           polygon_values
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
235318  [{\x\":423,\"y\":21},{\"x\":421,\"y\":438},{\"...
235319  [{\x\":12,\"y\":82},{\"x\":229,\"y\":132},{\"x...
235320  [{\x\":638,\"y\":989},{\"x\":574,\"y\":998},{\...
235321  [{\x\":847,\"y\":755},{\"x\":794,\"y\":800},{\...
235322  [{\x\":1064,\"y\":864},{\"x\":1147,\"y\":866},...

[235323 rows x 11 columns]>

In [10]:
raw_dataset.head(10)

,Unnamed: 0,name_img,name_sp,x1,y1,x2,y2,length,middle_x,middle_y,polygon_values
0,0,MOMAR_20140727180039.jpg,Bythograeid crab,815.0,839.0,826.0,792.0,48.0,821.0,816.0,NaN
1,1,MOMAR_20140727180039.jpg,Bythograeid crab,817.0,837.0,817.0,800.0,37.0,817.0,819.0,NaN
2,2,MOMAR_20140727180039.jpg,Other fish,1329.0,153.0,1262.0,234.0,105.0,1296.0,194.0,NaN
3,3,MOMAR_20140727180039.jpg,Bythograeid crab,826.0,790.0,812.0,842.0,54.0,819.0,816.0,NaN
4,4,MOMAR_20140727180039.jpg,Bythograeid crab,814.0,829.0,825.0,794.0,37.0,820.0,812.0,NaN
5,5,MOMAR_20140727180039.jpg,Other fish,1317.0,154.0,1248.0,237.0,108.0,1283.0,196.0,NaN
6,6,MOMAR_20140728000038.jpg,Other fish,977.0,379.0,1052.0,421.0,86.0,1015.0,400.0,NaN
7,7,MOMAR_20140728000038.jpg,Polynoid worm,157.0,865.0,173.0,865.0,16.0,165.0,865.0,NaN
8,8,MOMAR_20140728000038.jpg,Polynoid worm,230.0,808.0,244.0,803.0,15.0,237.0,806.0,NaN
9,9,MOMAR_20140728000038.jpg,Polynoid worm,168.0,762.0,153.0,752.0,18.0,161.0,757.0,NaN

In [7]:
raw_dataset.tail(10)

,Unnamed: 0,name_img,name_sp,x1,y1,x2,y2,length,middle_x,middle_y,polygon_values
235313,235313,CAM-TEMPO-MINI-2_20141227140040.jpg,Bacterial mats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":1198,\""y\"":195},{\""x\"":1220,\""y\"":260},..."
235314,235314,CAM-TEMPO-MINI-2_20141227140040.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":487,\""y\"":538},{\""x\"":547,\""y\"":553},{\..."
235315,235315,CAM-TEMPO-MINI-2_20141227140040.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":191,\""y\"":340},{\""x\"":142,\""y\"":456},{\..."
235316,235316,CAM-TEMPO-MINI-2_20141227140040.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":3,\""y\"":1082},{\""x\"":470,\""y\"":677},{\""..."
235317,235317,CAM-TEMPO-MINI-2_20141227140040.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":1623,\""y\"":1062},{\""x\"":1641,\""y\"":918}..."
235318,235318,CAM-TEMPO-MINI-2_20141010220540.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":423,\""y\"":21},{\""x\"":421,\""y\"":438},{\""..."
235319,235319,CAM-TEMPO-MINI-2_20141010220540.jpg,Tubeworms coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":12,\""y\"":82},{\""x\"":229,\""y\"":132},{\""x..."
235320,235320,MOMAR_20140828175856.jpg,Mussels coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":638,\""y\"":989},{\""x\"":574,\""y\"":998},{\..."
235321,235321,MOMAR_20140828175856.jpg,Mussels coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":847,\""y\"":755},{\""x\"":794,\""y\"":800},{\..."
235322,235322,MOMAR_20140828175856.jpg,Mussels coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{\x\"":1064,\""y\"":864},{\""x\"":1147,\""y\"":866},..."

In [8]:
# Find rows where x1, x2, y1, y2 are all not null (i.e., have valid coordinates)
valid_coords_mask = raw_dataset[['x1', 'x2', 'y1', 'y2']].notnull().all(axis=1)
valid_coords_count = valid_coords_mask.sum()

# Distribution by name_sp
distribution_by_name_sp = raw_dataset.loc[valid_coords_mask, 'name_sp'].value_counts()

print(f"Number of rows with valid x1, x2, y1, y2: {valid_coords_count}")
print("Distribution by name_sp:")
print(distribution_by_name_sp)

Number of rows with valid x1, x2, y1, y2: 158090
Distribution by name_sp:
Buccinid snail      98282
Spider crab         34803
Polynoid worms      12680
Zoarcid fish         6185
Bythograeid crab     2426
Polynoid worm        1999
Cataetyx fish         603
Brittle star          483
Other fish            455
Chimera fish          174
Name: name_sp, dtype: int64

In [11]:
raw_dataset['name_sp'].unique()

array(['Bythograeid crab', 'Other fish', 'Polynoid worm', 'Cataetyx fish',
       'Chimera fish', 'Brittle star', 'Polynoid worms', 'Buccinid snail',
       'Zoarcid fish', 'Spider crab', 'Alvinocarid shrimp', 'Pycnogonid',
       'Mussels coverage', 'Tubeworms coverage', 'Bacterial mats'],
      dtype=object)

In [6]:
raw_dataset['name_sp'].value_counts()

Buccinid snail        98282
Pycnogonid            65520
Spider crab           34803
Polynoid worms        12680
Tubeworms coverage     6840
Zoarcid fish           6185
Alvinocarid shrimp     2760
Bythograeid crab       2426
Polynoid worm          1999
Mussels coverage       1695
Cataetyx fish           603
Brittle star            483
Other fish              455
Bacterial mats          418
Chimera fish            174
Name: name_sp, dtype: int64

In [16]:
expert_dataset.head(10)

,Unnamed: 0,name_img,name_sp,xmin,xmax,ymin,ymax,length
0,0,CAM-TEMPO-MINI-2_20141116180525.jpg,Buccinid snail,899.0,1101.0,69.0,216.0,250.0
1,1,CAM-TEMPO-MINI-2_20141116180525.jpg,Buccinid snail,227.0,437.0,357.0,691.0,395.0
2,2,CAM-TEMPO-MINI-2_20141116180525.jpg,Buccinid snail,921.0,1059.0,613.0,924.0,340.0
3,3,CAM-TEMPO-MINI-2_20141116180525.jpg,Buccinid snail,712.0,915.0,915.0,1080.0,262.0
4,4,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,557.0,603.0,63.0,97.0,57.0
5,5,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,24.0,79.0,1.0,57.0,78.0
6,6,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,597.0,641.0,72.0,113.0,60.0
7,7,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,687.0,723.0,43.0,93.0,62.0
8,8,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,888.0,944.0,283.0,333.0,75.0
9,9,CAM-TEMPO-MINI-2_20141122020015.jpg,Buccinid snail,864.0,925.0,432.0,479.0,77.0

In [17]:
expert_dataset['name_sp'].unique()

array(['Buccinid snail'], dtype=object)

In [18]:
cleaned_dataset.head(10)

,Unnamed: 0,name_img,name_sp,xmin,xmax,ymin,ymax,length,occurences
0,0,MOMAR_20141017055611.jpg,Bythograeid crab,557.0,694.0,734.5,868.5,48.0,2.0
1,1,CAM-TEMPO-MINI-2_20141008140025.jpg,Buccinid snail,1245.0,1356.0,640.0,732.0,55.0,5.0
2,2,CAM-TEMPO-MINI-2_20150129180018.jpg,Buccinid snail,830.0,877.0,738.0,809.0,58.0,2.0
3,3,CAM-TEMPO-MINI-2_20141010020526.jpg,Buccinid snail,1275.0,1481.0,915.0,1035.0,164.0,2.0
4,4,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,998.0,1051.0,511.0,573.0,59.0,2.0
5,5,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,1209.0,1259.0,555.0,603.0,53.0,2.0
6,6,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,1320.0,1363.0,396.0,451.0,50.0,2.0
7,7,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,1263.0,1317.0,361.0,407.0,35.0,2.0
8,8,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,1017.0,1088.0,403.0,441.0,62.0,2.0
9,9,CAM-TEMPO-MINI-2_20141101060016.jpg,Buccinid snail,1482.0,1525.0,647.0,698.0,33.0,2.0

In [19]:
cleaned_dataset['name_sp'].unique()

array(['Bythograeid crab', 'Buccinid snail'], dtype=object)

In [ ]:
import os
from yolo_preparation import (
    read_annotation_csv,
    setup_output_structure,
    filter_and_split_dataset,
    process_split,
    create_data_yaml,
)

# === USER SETTINGS ===
BASE_PATH = os.getcwd()
CSV_NAME = "raw-dataset.csv"
IMAGES_FOLDER = "images/Images"
RANDOM_SEED = 42
VAL_RATIO = 0.2
SELECTED_CLASSES = ["Bythograeid crab"]  # works even for just one class now

# === PATHS ===
CSV_PATH = os.path.join(BASE_PATH, CSV_NAME)
IMAGES_DIR = os.path.join(BASE_PATH, IMAGES_FOLDER)
safe_class_names = "_".join(cls.replace(" ", "_") for cls in SELECTED_CLASSES)
OUTPUT_DIR = os.path.join(BASE_PATH, f"training_{safe_class_names}")
os.makedirs(OUTPUT_DIR, exist_ok=True)

# === PROCESS ===
df = read_annotation_csv(CSV_PATH)
setup_output_structure(OUTPUT_DIR)
grouped, class2id, train_imgs, val_imgs, classes = filter_and_split_dataset(
    df, SELECTED_CLASSES, val_ratio=VAL_RATIO, random_seed=RANDOM_SEED
)
process_split(train_imgs, "train", IMAGES_DIR, OUTPUT_DIR, grouped, class2id)
process_split(val_imgs, "val", IMAGES_DIR, OUTPUT_DIR, grouped, class2id)
create_data_yaml(OUTPUT_DIR, classes)

Processing train: 100%|██████████| 370/370 [00:04<00:00, 92.27it/s]
Processing val: 100%|██████████| 93/93 [00:01<00:00, 86.26it/s]